<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Joke Generator</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class = "title-container">
        <h1>Get a Joke!</h1>
    </div>
  
    <div class = "form-container">
        <form action="/joke" method="POST">
            <input type="text" name="name" placeholder="Enter your name" required>
            <button type="submit">Get a Joke</button>
        </form>
    </div>
  
</body>
</html>