<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Your Joke</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    
    <body>
        <h1>Heres your joke, <%= name %>!</h1>
        <p><%= joke %></p>
        <a href="/">Get Another Joke</a>
    </body>
</html>